<% provide(:title, 'Home') %>
<main>
  <div class="home_menu">
    <nav>
      <a href="/Coming Soon/">Teach</a> |
      <a href="/Coming Soon/">Learn</a> |
      <a href="/Coming Soon/">Host</a> |
      <a href="/Coming Soon/">Build</a> |
    </nav>
  </div>
  <div class="center hero-unit">
    <h1>Welcome to TeachaFish.org</h1>
    <h2>
      This is the prototype home page for <a href="www.teachafish.org/">www.teachafish.org</a> redesign.
    </h2>

    <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
</main>
