<% provide(:title, 'Home') %>
<main>
  <div class="home_menu">
    <nav>
      <a href="/Coming Soon/">Teach</a> |
      <a href="/Coming Soon/">Learn</a> |
      <a href="/Coming Soon/">Host</a> |
      <a href="/Coming Soon/">Build</a> |
    </nav>
  </div>
</main>
